# Treat all Error Prone warnings as errors, so that Bazel enforces them.
# See http://errorprone.info/bugpatterns .  We need to list all of them,
# because there is no way to enable all Error Prone warnings in Bazel:
# https://github.com/bazelbuild/bazel/issues/2237
build:error_prone_warnings \
    --javacopt='-Xep:AmbiguousMethodReference:ERROR' \
    --javacopt='-Xep:BadAnnotationImplementation:ERROR' \
    --javacopt='-Xep:BadComparable:ERROR' \
    --javacopt='-Xep:BoxedPrimitiveConstructor:ERROR' \
    --javacopt='-Xep:CannotMockFinalClass:ERROR' \
    --javacopt='-Xep:ClassCanBeStatic:ERROR' \
    --javacopt='-Xep:ClassNewInstance:ERROR' \
    --javacopt='-Xep:DefaultCharset:ERROR' \
    --javacopt='-Xep:DoubleCheckedLocking:ERROR' \
    --javacopt='-Xep:ElementsCountedInLoop:ERROR' \
    --javacopt='-Xep:EqualsHashCode:ERROR' \
    --javacopt='-Xep:EqualsIncompatibleType:ERROR' \
    --javacopt='-Xep:Finally:ERROR' \
    --javacopt='-Xep:FloatingPointLiteralPrecision:ERROR' \
    --javacopt='-Xep:FragmentInjection:ERROR' \
    --javacopt='-Xep:FragmentNotInstantiable:ERROR' \
    --javacopt='-Xep:FutureReturnValueIgnored:ERROR' \
    --javacopt='-Xep:GetClassOnEnum:ERROR' \
    --javacopt='-Xep:ImmutableAnnotationChecker:ERROR' \
    --javacopt='-Xep:ImmutableEnumChecker:ERROR' \
    --javacopt='-Xep:IncompatibleModifiers:ERROR' \
    --javacopt='-Xep:InjectOnConstructorOfAbstractClass:ERROR' \
    --javacopt='-Xep:InputStreamSlowMultibyteRead:ERROR' \
    --javacopt='-Xep:IterableAndIterator:ERROR' \
    --javacopt='-Xep:JUnit3FloatingPointComparisonWithoutDelta:ERROR' \
    --javacopt='-Xep:JUnitAmbiguousTestClass:ERROR' \
    --javacopt='-Xep:LiteralClassName:ERROR' \
    --javacopt='-Xep:MissingFail:ERROR' \
    --javacopt='-Xep:MutableConstantField:ERROR' \
    --javacopt='-Xep:NarrowingCompoundAssignment:ERROR' \
    --javacopt='-Xep:NonAtomicVolatileUpdate:ERROR' \
    --javacopt='-Xep:NonOverridingEquals:ERROR' \
    --javacopt='-Xep:NullableConstructor:ERROR' \
    --javacopt='-Xep:NullablePrimitive:ERROR' \
    --javacopt='-Xep:NullableVoid:ERROR' \
    --javacopt='-Xep:OperatorPrecedence:ERROR' \
    --javacopt='-Xep:OverridesGuiceInjectableMethod:ERROR' \
    --javacopt='-Xep:PreconditionsInvalidPlaceholder:ERROR' \
    --javacopt='-Xep:ProtoFieldPreconditionsCheckNotNull:ERROR' \
    --javacopt='-Xep:ProtocolBufferOrdinal:ERROR' \
    --javacopt='-Xep:RequiredModifiers:ERROR' \
    --javacopt='-Xep:ShortCircuitBoolean:ERROR' \
    --javacopt='-Xep:SimpleDateFormatConstant:ERROR' \
    --javacopt='-Xep:StaticGuardedByInstance:ERROR' \
    --javacopt='-Xep:SynchronizeOnNonFinalField:ERROR' \
    --javacopt='-Xep:TruthConstantAsserts:ERROR' \
    --javacopt='-Xep:TypeParameterShadowing:ERROR' \
    --javacopt='-Xep:TypeParameterUnusedInFormals:ERROR' \
    --javacopt='-Xep:URLEqualsHashCode:ERROR' \
    --javacopt='-Xep:UnsynchronizedOverridesSynchronized:ERROR' \
    --javacopt='-Xep:WaitNotInLoop:ERROR' \

# TODO(sebright): Suppress warnings from generated Protocol Buffer classes and
# then enable these three warnings.  It may become easier to suppress warnings
# in Protocol Buffer code once we switch to using the java_proto_library build
# rule (https://github.com/google/instrumentation-proto/issues/21).

    # --javacopt='-Xep:FunctionalInterfaceClash:ERROR' \
    # --javacopt='-Xep:MissingOverride:ERROR' \
    # --javacopt='-Xep:ReferenceEquality:ERROR' \
