# Gradle
build
gradle.properties
.gradle
local.properties
out/

# Protobuf
gen_gradle

# Bazel
bazel-*

# Maven (proto)
target

# IntelliJ IDEA
.idea
*.iml
.editorconfig

# Eclipse
.classpath
.project
.settings
bin

# NetBeans
/.nb-gradle
/.nb-gradle-properties

# OS X
.DS_Store

# Emacs
*~
\#*\#

# Vim
.swp

# Other
TAGS
