<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

  <bean id="sample" class="io.opencensus.contrib.spring.aop.Sample"/>

  <!-- Enable @AspectJ annotation support  -->
  <aop:aspectj-autoproxy/>

  <!-- traces explicit calls to @Trace -->
  <bean id="censusAspect" class="io.opencensus.contrib.spring.aop.CensusSpringAspect"/>

  <!-- traces all SQL calls e.g. New Relic -->
  <bean id="censusSQLAspect" class="io.opencensus.contrib.spring.aop.CensusSpringSQLAspect"/>
</beans>