<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <File name="File" fileName="/tmp/test-structured-log.log">
      <JsonLayout compact="true" eventEol="true">

        <!--
        This section reads the trace ID, span ID, and sampled fields from the Log4j context and add
        them to the JSON log entry as key-value pairs. It uses the special JSON keys that the
        Stackdriver Logging agent converts to "trace" and "spanId" in the Stackdriver LogEntry
        (https://cloud.google.com/logging/docs/agent/configuration#special_fields_in_structured_payloads).
        It also converts the trace ID into the format expected by Stackdriver
        (https://cloud.google.com/trace/docs/viewing-details#log_entries).
        -->
        <KeyValuePair key="logging.googleapis.com/trace" value="projects/${env:GOOGLE_CLOUD_PROJECT}/traces/$${ctx:openCensusTraceId}"/>
        <KeyValuePair key="logging.googleapis.com/spanId" value="$${ctx:openCensusSpanId}"/>

        <!--
        There is no field corresponding to traceSampled in the Stackdriver LogEntry, so this field
        can only be added to the "jsonPayload" object.
        -->
        <KeyValuePair key="traceSampled" value="$${ctx:openCensusTraceSampled}"/>

     </JsonLayout>
    </File>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>
