name: Build Checker

on: 
  pull_request:
      branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - id: setup-java
        name: Setup Java 8
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 8
      - uses: burrunan/gradle-cache-action@v1.10
        with:
          remote-build-cache-proxy-enabled: false
          arguments: clean assemble -PcheckerFramework=true