name: Build

on: 
  pull_request:
      branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-18.04
        java:
          - 8
          # TODO: Java 11 build doesn't work due to Java7 target.
        include:
          - os: ubuntu-18.04
            java: 8
            coverage: true
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - id: setup-java
        name: Setup Java ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: ${{ matrix.java }}
      - run: ./gradlew clean assemble check --stacktrace
      # TODO: Run jacocoTestReport
      # TODO: Run verGJF